# Project place file
/price-point.rbxlx

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

# Wally packages
Packages

# Art
Assets

# Roblox Luau LSP (although this project was designed for Roblox LSP)
sourcemap.json

# Scrapes
**/ScrapeExports